
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul > li {
  list-style: none;
}

.App {
  padding: 30px;
  display: flex;
  background-color: #d5f5c0;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: .5;
}